.box { 
    //border:1px solid $box-border-color; 
    padding:1px; 
    background: $box-bg; 
    margin-bottom:1em; 
    clear:both;
    .content {
        padding: $default-padding;
    }
    img {
        max-width: 100%;
        margin-bottom: 1em;
        height: auto;
    }
    .whitewrap {
        margin: 3px;
        border: 1px solid $box-border-color;
        padding: 2px;
        color: $font-color-dark;
        background: white;
    }
    & > h2, & >h3 {
        text-align: center;
        font-size: 1.2em;
        padding: 7px;
        margin-bottom: 0;
        color: $font-color-light;
        @include linear-gradient($title-gradient-top, $topbar-gradient-bottom);
    
    }
}

.rtcol {
    .box {
        .ads {
            text-align: center;
            padding: 6px;
            img {
                width: 100%;
                margin:0;
            }
        }
        .whitewrap .content {
            padding: 2px;
        }
    }
}

.box.threecols .content                 { width:28%; float:left; }
.box.twocols .content                   { width:45%; float:left; }
.halfpromo.box                          { width:324px; float:left; clear:none; }
.halfpromo.box + .halfpromo.box         { margin-left:1em; } 

video {
    width: 100%!important;
    height: auto!important;


}

